body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
}

a:visited {
  color: currentColor;
}

main {
  padding: 0 24px;
}
